<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{270,0},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{540,0},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{810,0},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{1080,0},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{1350,0},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{1620,0},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{0,365},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{270,365},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{540,365},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{810,365},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{1080,365},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,365}</string>
                <key>spriteSourceSize</key>
                <string>{270,365}</string>
                <key>textureRect</key>
                <string>{{1350,365},{270,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemy.png</string>
            <key>size</key>
            <string>{1890,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2691b03934c17b875acd10a9d635c1d2:9fe22a536b2724e29763b0b8b0f3f0a2:9792b3bc94f4f42809fc42a64c45764d$</string>
            <key>textureFileName</key>
            <string>Enemy.png</string>
        </dict>
    </dict>
</plist>
