<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_r0_c0_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{0,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r0_c1_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{171,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r0_c2_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{342,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r0_c3_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{513,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r0_c4_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{684,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r1_c0_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{855,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r1_c1_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1026,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r1_c2_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1197,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r1_c3_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1368,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r1_c4_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1539,0},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r1_c5_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{0,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r2_c0_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{171,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r2_c1_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{342,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r2_c2_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{513,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r2_c3_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{684,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r2_c4_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{855,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r2_c5_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1026,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r2_c6_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1197,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r3_c0_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1368,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r3_c1_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1539,258},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r3_c2_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{0,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r3_c3_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{171,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r3_c4_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{342,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r3_c5_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{513,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r3_c6_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{684,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r4_c0_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{855,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r4_c1_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1026,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r4_c2_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1197,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r4_c3_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1368,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r4_c4_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1539,516},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r4_c5_030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{0,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r4_c6_031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{171,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r5_c0_032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{342,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r5_c1_033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{513,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r5_c2_034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{684,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r5_c3_035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{855,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r5_c4_036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1026,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r5_c5_037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1197,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_r5_c6_038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,258}</string>
                <key>spriteSourceSize</key>
                <string>{171,258}</string>
                <key>textureRect</key>
                <string>{{1368,774},{171,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{1710,1032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bebca95fe9ae76149c2abb3a03c671cb:9df13a3c0d80d9b648d97dd63bd569a7:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
